@import url('https://fonts.googleapis.com/css?family=Montserrat');




html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding:0;
  margin:0;
}

body , html {
	font-family: 'Montserrat', sans-serif;
	background-color:#fff;
	color:#222;
}
body {
	padding-left:5px;
	padding-right:5px;
}

a {
	text-decoration: none;
	color:initial;
}

.page-wrapper {
	max-width:700px;
	display: block;
	margin:auto;
}
@media screen and (max-width: 720px) {
	.page-wrapper {
		width: 100%;
		padding:0 10px;
	}
}

nav {
	text-align: center;
}
nav h1 {
	margin-top: 15px;
	margin-bottom: 25px;
}
nav h1 a{
	font-size:45px;
	text-decoration: none;
	color:#484d55;
}
nav h3 {
	font-size: 20px;
	color: #505050;
	margin-bottom: 5px;
}
nav p {
	font-size:16px;
	color:#606060;
	margin-bottom: 10px;
}
.download {
	display:inline-block;
	width:auto;
	height:auto;
	font-size:19px;
	margin-top:20px;
	margin-right: 20px;
	border-radius:4px;
    padding: 10px 15px;
	color:#ffffff;
	background-color:#484d55;
	outline:none;
	border:none;
	cursor:pointer;
}
.download:focus , .download:hover , .download:active {
	background-color: #393d44;
}
.twitter-share-button {
	display:inline-block;
	width:auto;
	height:auto;
	font-size:19px;
	border-radius:4px;
	padding: 10px 15px;
	color:#ffffff;
	background-color:#00ACED;
	outline:none;
	border:none;
	cursor:pointer;
}
.twitter-share-button:focus , .twitter-share-button:hover , .twitter-share-button:active   {
	background-color: #0c7abf;
}
pre {
	font-family: monospace;
	overflow: auto;
	word-wrap: normal;
	border-radius: 5px;
	white-space: pre;
	padding:20px 10px;
	font-size: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}
section {
	margin-top: 20px;
}
section div {
	background-color:#484d55;
	color:#fff;
	border-radius:4px;
}
section div p {
	display: inline-block;
	color:#fff;
}
section h1 {
	display: flex;
	font-size:30px;
	color:#3B8898;
	border-bottom: 1px solid rgba(59,136,152,.5);
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 30px;
}
section h3 {
	font-size:20px;
	color:#505050;
	margin-bottom: 15px;
}

section p {
	color:#555;
	font-size: 16px;
}
.default-settings span {
	color:#909090;
}
footer {
	font-size:12px;
	color:#767676;
	border-top: 1px solid #d1d1d1;
	padding: 20px 0;
}
footer p a{
	color:#767676;
}
footer .copyright {
	float:left;
}
footer .giphy-api {
	float: right;
}
